RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^[^?]*$ /vendor/picocms/pico/index.php [NC,L,QSA]

ErrorDocument 403 /vendor/picocms/pico/index.php
